.search__wrapper {
  max-width: 608px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .search__wrapper {
    max-width: 452px;
  }
}

@media screen and (max-width: 767px) {
  .search__wrapper {
    max-width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}