@import url('./_message/article__tag_message.css');
@import url('./_save/article__tag_save.css');
@import url('./_save-not-auth/article__tag_save-not-auth.css');
@import url('./_saved/article__tag_saved.css');
@import url('./_delete/article__tag_delete.css');
@import url('./_keyword/article__tag_keyword.css');

.article__tag {
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}