.article__title {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 16px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .article__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    max-height: 95px;
  }
}